<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	<select id="selectAll" resultType="Member">
		select * from member order by member_id asc
	</select>
	
	<select id="select" resultType = "Member">
		select * from member where e_mail = #{e_mail} and password = #{password} and authstatus = 1
	</select>
	
	<select id="idCheck" resultType="int">
		select count(*) from member where e_mail = #{e_mail}
	</select>
	
	<select id="idSearch" parameterType="String" resultType = "String">
		select e_mail from member where phone = #{phone}
	</select>
	
	<update id = "passSearchUpdate" parameterType="Member">
		update member set password = #{password} where e_mail = #{e_mail} and phone = #{phone}
	</update>
	
	<insert id="insert" parameterType="Member">
		INSERT INTO MEMBER(e_mail, phone, birth_date, password, user_name, authkey)  
		values(#{e_mail}, #{phone}, #{birth_date}, #{password}, #{user_name}, #{authkey})
	</insert>
	
	<update id="updateAuthKey" parameterType="hashMap">
		update member set authKey = #{authKey} where e_mail = #{e_mail}
	</update>
	
	<update id="updateAuthStatus" parameterType="hashMap">
		update member set authStatus = 1 where e_mail = #{e_mail} and authKey = #{authKey} 
	</update>
	
	<delete id="delete" parameterType="int">
		delete from member where member_id = #{member_id}
	</delete>
	
	
	<update id="nameUpdate" parameterType="Member">
		update member set user_name = #{user_name} where member_id = #{member_id}
	</update>
	<update id="passUpdate" parameterType="Member">
		update member set password = #{password} where member_id = #{member_id}
	</update>
	<update id="phoneUpdate" parameterType="Member">
		update member set phone = #{phone} where member_id = #{member_id}
	</update>
	<update id="birthUpdate" parameterType="Member">
		update member set birth_date = #{birth_date} where member_id = #{member_id}
	</update>
</mapper>